
.container_selects{
    /* border: 2px solid greenyellow; */
    display: flex;
    justify-content: center;
    align-items: center;
    
}




.containerFavorites{
    /* border: 2px solid purple; */
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 20px;
}


.caja {
    border:1px solid #d9d9d9;
    height:30px;
    overflow: hidden;
    width: 230px;
    position:relative;
    margin: 0 20px;
 }
 select {
    background: transparent;
    border: none;
    font-size: 14px;
    height: 30px;
    padding: 5px;
    width: 250px;
    color: white;
 }
 select:focus{ 
    outline: none;
    color: black;
}
 
 .caja::after{
     content:"\025be";
     display:table-cell;
     padding-top:7px;
     text-align:center;
     width:30px;
     height:30px;
     background-color:#d9d9d9;
     position:absolute;
     top:0;
     right:0px;	
     pointer-events: none;
 }


 @media(max-width: 768px) {

    .caja{
       width: 190px;
    }
}