
/* TODO: Este codigo css puede reutilizarse en Cars y Favorites */


.containerCards{
    /* border: 2px solid purple; */
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center; 

    padding: 20px;
}

/* .card{
    flex: 1;
} */