

.containerDetail{
    /* border: 2px solid green; */
    /* margin: 20px; */
    background-color: black;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
}


.name{
    border-bottom: 1px solid greenyellow;
    margin-top: 10px;
    margin-bottom: 0;
    padding-bottom: 10px;
    width: 100%;
    display: flex;
    justify-content: center;
    color: white;
}

.info{
    /* border: 2px solid orange; */
    display: flex;
    justify-content: space-between;
    width: 100%;

}
    .features{
        /* border: 2px solid brown; */
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 50%;
        color: white;
        
    }
    .img{
        /* border: 2px solid green; */
        width: 50%;
    }