.contenedorHome{
    /* background-color: gray; */
    /* border: 2px solid black; */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 20px;
    
    
    
}

.button{
    border: 2px solid greenyellow;
    margin-top: 10px;
    margin-bottom: 10px;
}

.cards{
    align-self: center;

}

