/* .App {
   text-align: center;
} */

body {
   background-image: url('./assets/images/background-home.png'); 
  background-size: cover; 
  background-attachment: fixed; 
  background-position: center; 
}


 


h1,h2,span,p {
   color: black;
}