

.containerPageNotFound{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}

.title{
    color: white;
}

.img{
    width: 35em;
    height: 23em;
    border-radius: 20px;
}